
.custom_rune_slots
{
	width: 400px;
	height: 100%;
	/*margin-top: 10%;*/
	margin-left: 1%;
	/*vertical-align: bottom;*/
	flow-children: up;
}

.rune_container
{
	clip: rect( 0px, 400px, 100px, 0px);
	width: 400px;
	height: 100px;
	margin-bottom: 10px;
	/*vertical-align: bottom;*/
	flow-children: right;
	background-image: url("s2r://panorama/images/hud/reborn/ability_bg_psd.vtex");
}

.open_rune_container
{
	animation-name: open_rune_container;
	animation-duration: 0.5s;
	clip: rect( 0px, 400px, 100px, 0px);
}

@keyframes 'open_rune_container'
{
	from
	{
		clip: rect( 0px, 0px, 100px, 0px);
	}
	to
	{
		clip: rect( 0px, 400px, 100px, 0px);
	}
}

.close_rune_container
{
	animation-name: close_rune_container;
	animation-duration: 0.5s;
	clip: rect( 0px, 0px, 100px, 0px);
}

@keyframes 'close_rune_container'
{
	from
	{
		clip: rect( 0px, 400px, 100px, 0px);
	}
	to
	{
		clip: rect( 0px, 0px, 100px, 0px);
	}
}

.core_slot
{
	height: 55px;
	width: 69px;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 30px;
	vertical-align: top;
	background-color: #2c2f30;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.rune_slot
{
	height: 45px;
	width: 59px;
	margin-top: 25px;
	margin-left: 20px;
	vertical-align: top;
	background-color: #1a1c1d;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.item_slot
{
	height: 100%;
	width: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), to( #00000000 ) );
	transition-property: pre-transform-scale2d, brightness, saturation, background-color, opacity;
	transition-duration: .06s, .1s;
	transition-timing-function: ease-out;
	background-image: url("s2r://panorama/images/hud/reborn/inventory_item_well_psd.vtex");
	/*background-image: url("s2r://panorama/images/hud/reborn/inventory_item_bevel_psd.vtex");*/
	/*background-image: url("s2r://panorama/images/hud/reborn/inventory_panel_png.vtex");*/
}

#new_rune_button
{
	width: 44px;
	height: 44px;
	vertical-align: bottom;
	horizontal-align: right;
	margin-right: 24px;
	margin-bottom: 49px;
	/*background-image: url("file://{images}/custom_game/setting_icon.png");*/
}

.new_rune_button_default
{
	background-image: url("file://{images}/custom_game/setting_icon_highlight.png");
	opacity: 0.2;
}

.new_rune_button_enter
{
/*	background-color: yellow;*/
	background-image: url("file://{images}/custom_game/setting_icon_highlight.png");
	opacity: 1;
	animation-name: new_rune_button_enter;
	animation-duration: 0.1s;
}

@keyframes 'new_rune_button_enter'
{
	from {opacity: 0.2;}
	to {opacity: 1;}
}

.new_rune_button_leave
{
	background-image: url("file://{images}/custom_game/setting_icon_highlight.png");
	animation-name: new_rune_button_leave;
	opacity: 0.2;
	animation-duration: 0.1s;
}

@keyframes 'new_rune_button_leave'
{
	from {opacity: 1;}
	to {opacity: 0.2;}
}